body
{
   background-color: black;
}


/*PC + notebook*/
@media (min-width: 1024px) {
   #cesiumContainer {height: 99%;}
}

/*Netbook
@media (max-width: 1023px) {
   #cesiumContainer {width: 715px;}

}*/

/*Tablet
@media (max-width: 734px) {
   #cesiumContainer {width: 550px;}
}*/

/*SMARTFON*/
@media (max-width: 599px) {
   #cesiumContainer {height: 100%;}
   }